<%- include('header') %>

<main class="content">
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle"> Phone</h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-header  bg-primary">
                        <h5 class="card-title mb-0" style="color: white;">Select Phone</h5>
                    </div>
                    <div class="card-body">
                        <form action="/category_add" method="post">
                            <div class="mb-3">
                                <input type="hidden" name="updateId" value="<%= singleData.id %>">
                                <label class="form-label">Phone Name</label>
                                <select name="name" class="p-3 form-control">
                                    <option value="-- Select Phone Brand --">-- Select Phone Brand --</option>
                                    <% let pname = ['iPhone','Samsung','OPPO','Vivo','Xiaomi','Nokia','OnePlus','Realme','Motorola','Google'];
                                    for(let i in pname)
                                    { %>
                                        <option value="<%= pname[i] %>" <% if(singleData.name == pname[i]){ %> selected <% } %>><%= pname[i] %> </option>
                                    <% } %>
                                </select>
                            </div>                                    
                            <div class="mb-3">
                                <label class="form-label">Phone Details</label>
                                <input type="text" name="detail" value="<%= singleData.detail %>" class="p-3 form-control" placeholder="Enter Selected Phone Detail">  
                            </div>
                            <div class="mt-3">
                                <% if(singleData) { %>
                                <button type="submit" class="btn btn-lg btn-primary">Update Product</button>
                                <% } else { %>
                                <button type="submit" class="btn btn-lg btn-primary">Add Product</button>
                                <% } %>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-header  bg-primary">
                        <h5 class="card-title mb-0" style="color: white;">View Your Product Here</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>
                                    Name
                                </td>
                                <td>
                                    Details
                                </td>
                                <td>
                                    Delete
                                </td>
                                <td>
                                    Update
                                </td>
                            </tr>
                            <% cateData.map((val)=>{
                                const {id,name,detail} = val;
                            %>
                                <tr>
                                    <td><%= name %></td>
                                    <td><%= detail %></td>
                                    <td>
                                        <a href="/deleteCate?id=<%= id %>"><button  class="btn btn-lg btn-primary">Delete</button></a>    
                                    </td>
                                    <td>
                                        <a href="/updateCate?id=<%= id %>"><button  class="btn btn-lg btn-primary">Update</button></a>    
                                    </td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('footer') %>