<%- include('header') %>

<main class="content">
    <div class="container-fluid p-0">

        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Product</h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-header  bg-primary">
                        <h5 class="card-title mb-0" style="color: white;">Add Product</h5>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" method="post" action="/productdata" enctype="multipart/form-data">
                            <input type="hidden" name="UpdateId" value="<%= singleProduct.id %>">
                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select name="category" class="p-3 form-control">
                                    <option value="">-- Select Category --</option>
                                    <% category.map((val)=>{ console.log(singleProduct.id); %>
                                        <option <% if(val.id == singleProduct.categoryId) { %> selected <% } %> value="<%= val.id %>">
                                            <%= val.name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Sub Category</label>
                                <select name="subcategory" class="p-3 form-control">
                                    <option value="">-- Select Sub Category --</option>
                                    <% subcategory.map((val)=>{ %>
                                        <option <% if(singleProduct.subcategoryId == val.id) { %> selected <% } %> value="<%= val.id %>">
                                            <%= val.subcategory %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Extra Sub Category</label>
                                <select name="exsubcategory" class="p-3 form-control">
                                    <option value="">-- Select Extra Sub Category --</option>
                                    <% exsubcategory.map((val)=>{ %>
                                        <option <% if(singleProduct.exsubcategoryId == val.id) { %> selected <% } %> value="<%= val.id %>">
                                            <%= val.exsubcategory %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label">Product Name</label>
                                <input type="text" value="<%= singleProduct.pName %>" name="pName" class="form-control p-3" placeholder="Enter Product Name"> 
                            </div>                                 
                            <div class="mb-3">
                                <label class="form-label">Product Price</label>
                                <input type="text" value="<%= singleProduct.pPrice %>" name="pPrice" class="form-control p-3" placeholder="Enter Product Price">  
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Product Quantity</label>
                                <input type="text" value="<%= singleProduct.pQty %>" name="pQty" class="form-control p-3" placeholder="Enter Product Quantity">  
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Product Description</label>
                                <input type="text" value="<%= singleProduct.pDesc %>" name="pDesc" class="form-control p-3" placeholder="Enter Product Description">  
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Product Images</label>
                                <input type="file" name="image" class="form-control p-3">
                                <% if(singleProduct){ %>
                                    <img src="<%= singleProduct.image %>" width="150">
                                <% } %>
                            </div>
                            <div class="mt-3">
                                <% if(singleProduct){ %>
                                    <button type="submit" class="btn btn-lg btn-primary">Update Product</button>
                                <% }else{ %>
                                    <button type="submit" class="btn btn-lg btn-primary">Add Product</button>
                                <% } %>
                                <a type="button" class="btn btn-lg btn-primary" href="/viewProduct" id="mode">View Product</a>
                            </div>                                   
                        </form>
                    </div>
                </div>
            </div>

            
        </div>

    </div>
</main>
<%- include('footer') %>